<div align="right">
<a [routerLink]="['../home']" class="btn btn-info" style="margin:12px;">Logout</a>
</div>
<div class="container">
    <div class="cart_icon">
        <i class="fa fa-shield"></i>
    <p>Admin</p>
    <br>
    <br>
    <br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class='btn'>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a [routerLink]="['../adpwd']" class="btn btn-info" style="margin:12px;">Change password</a>
        <a [routerLink]="['../addcere']" class="btn btn-info" style="margin:12px;">To view and change Cereals</a>
        <a [routerLink]="['../addfruits']" class="btn btn-info" style="margin:12px;">To view and change Fruits</a>
        <a [routerLink]="['../addnuts']" class="btn btn-info" style="margin:12px;">To view and change Nuts</a>
    </div>
</div>
</div>
